* {
  text-decoration: none;
}

*:visited {
  color: black;
}

.wrapper-album > * {
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
}

.wrapper-album {
  border: 0.1px solid black;
  margin-inline: auto;
  margin-top: 20px;
  width: 200px;
}

.wrapper-album > img {
  width: 100%;
}

.wrapper-album > h1 {
  font-size: 20px;
  text-align: center;
}

.wrapper-album > p {
  font-size: 15px;
  text-align: center;
}
